{% extends "layout/base.html" %}
{% block title %}
Pendaftaran Skema
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <b class="text-dark">SIMBION</b>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <a class="btn navbar-btn ml-2 text-white btn-secondary" href="Register.html">Register</a>
        <a class="btn navbar-btn ml-2 text-white btn-secondary" href="Login.html"> Sign in</a>
      </div>
    </div>
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card text-white p-5 bg-light">
            <div class="card-body">
              <h1 class="text-dark text-center">Form Pendaftaran Paket Beasiswa </h1>
              <form action="https://formspree.io/YOUREMAILHERE">
                <div class="form-group">
                  <label class="text-dark my-1">Kode</label>
                  <input type="text" class="form-control" placeholder="Masukkan Kode Paket" required="required"> </div>
                <div class="form-group">
                  <label class="text-dark">Nama Paket Beasiswa</label>
                  <input type="text" placeholder="Masukkan Nama Paket Beasiswa" class="form-control" required="required"> </div>
                <div class="form-group">
                  <label for="exampleInputEmail1" class="text-dark">Jenis Skema</label>
                  <select class="custom-control custom-select" required="required">
                    <option selected="">Pilih Jenis Skema</option>
                    <option value="1">Beasiswa Prestasi Akademik</option>
                    <option value="2">Beasiswa Bantuan Belajar</option>
                    <option value="3">Beasiswa Tugas Akhir</option>
                    <option value="4">Beasiswa Dan Sebagainya</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="text-dark">Deskripsi</label>
                  <input type="text" class="form-control" placeholder="Penjelasan Singkat Mengenai Beasiswa" required="required"> </div>
                <div class="form-group">
                  <label class="text-dark" for="exampleInputEmail1">Syarat Beasiswa</label>
                  <input type="text" class="form-control" placeholder="Syarat Kelengkapan Yang Dibutuhkan" id="inlineFormInput" required="required"> </div>
                <button type="submit" class="btn btn-secondary" href="Login.html">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}