{% extends "layout/base.html" %}
{% block title %}
Register Success
{% endblock %}
{% block content %}
<br><br><br>
<div class="w3-container">
      <center>
          <p><strong>Register Berhasil</strong></p>
      </center>
  </div>

{% endblock %}
